In [1]:
import pandas as pd

In [9]:
csv = pd.read_csv('PETR3.csv')
csv

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,PETR3.SA,PETR3.SA,PETR3.SA,PETR3.SA,PETR3.SA,PETR3.SA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,11.67481803894043,41.650001525878906,41.86000061035156,41.400001525878906,41.70000076293945,4892000
3,2010-01-05,11.604743003845215,41.400001525878906,41.86000061035156,41.150001525878906,41.849998474121094,3828900
4,2010-01-06,11.719671249389648,41.810001373291016,42.04999923706055,41.04999923706055,41.189998626708984,3434000
...,...,...,...,...,...,...,...
3160,2022-09-23,19.150917053222656,32.900001525878906,34.810001373291016,32.7400016784668,34.709999084472656,48903800
3161,2022-09-26,18.90643882751465,32.47999954223633,33.209999084472656,32.45000076293945,32.79999923706055,18230500
3162,2022-09-27,19.133453369140625,32.869998931884766,33.060001373291016,32.7400016784668,32.90999984741211,17568400
3163,2022-09-28,18.99957275390625,32.63999938964844,33.0,31.889999389648438,32.869998931884766,17529400
3164,2022-09-29,19.017032623291016,32.66999816894531,32.880001068115234,32.04999923706055,32.310001373291016,24350900